.card{
    width: 300px;
    height: 400px;
    padding: 40px ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../../public/book1.webp') no-repeat center/cover;
    position: relative;
    filter: drop-shadow(2px 2px 5px black);
    
    
}

.divImgBook{
    position: relative;
    
    
    

}

.imgBook{
    width: auto;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    align-self: center;
    border: 10px solid transparent; 
    border-image: linear-gradient(135deg, #F2E1AE,#F2ECD8,#F2BA52,#BF9F63,#BF7F30) 1;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), inset 0 5px 15px rgba(0, 0, 0, 0.3);
    
}

button{
    background-color: transparent;
    border: none;
}

.div-ribbon {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    --t: 15px; /* the top offset */
    
    position: absolute;
    inset: var(--t) calc(7px) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path: 
      polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    background: #00B3AD;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
    font-size: 1.2rem;
    
    
  }
  
  
 



